extends main

block content
  div(class='intro')
    p THOUGHTS_ let's you quickly record ideas using a simple and fast Markdown formatter. Each "thought" has a unique URL that you may keep private or opt to share with the world.
    p 
      a(class='button', href='/auth/twitter', title='Sign in with Twitter') Sign In With Twitter